// Variables
$titulo__cremaPeinar--Verde: #7D9C57;

//

html{

    font-size: 62.5%;

}
body {

    background-color: white;
    font-family: 'EB Garamond', serif;
    font-size: 1.6rem;}


.Producto__Titulo{

    font-size: 2rem;
    color: $titulo__cremaPeinar--Verde}

.caracProd__image{

    width: 80%;
    align-items: center;
}

.image--center{

    text-align: center;

}
.text__cremaPeinar{

    font-family: 'Noto Serif', serif;
    color:lighten( grey, 10%) ;


}

.index__grid{

    display: grid;
    grid-template-areas:
    "veg eco env";
    grid-template-columns: 1f 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 1%;

}

.veg{

    grid-area: veg;

}

.eco{

    grid-area: eco;
    

}

.env{

    grid-area: env;

}

.img__grid--logos{

    height: 13rem;;

}

.producto__subtit--style{

    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(103,155,155,1) 50%, rgba(255,255,255,1) 100%);
    text-align: center;

}

@media (max-width:576px) {

    .cremaPeinar__Display--grid{

        display: block;
        
            
        }

}